library/axis2-1.4.1/samples/jaxws-samples/src/webapp/WEB-INF/wsdl/Echo12.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://org/apache/axis2/jaxws/samples/echo/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EchoService12"
                  targetNamespace="http://org/apache/axis2/jaxws/samples/echo/">
    <wsdl:types>
        <xsd:schema
                targetNamespace="http://org/apache/axis2/jaxws/samples/echo/"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:element name="echoStringResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="echoResponse"
                                     type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="echoStringInput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="echoInput" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="echoOperationRequest">
        <wsdl:part element="tns:echoStringInput" name="parameter"/>
    </wsdl:message>
    <wsdl:message name="echoOperationResponse">
        <wsdl:part element="tns:echoStringResponse" name="parameter"/>
    </wsdl:message>
    <wsdl:portType name="EchoService12PortType">

        <wsdl:operation name="echoOperation">
            <wsdl:input message="tns:echoOperationRequest"/>
            <wsdl:output message="tns:echoOperationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoSOAP12" type="tns:EchoService12PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echoOperation">
            <soap:operation soapAction="echoOperation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoService12">
        <wsdl:port binding="tns:EchoSOAP12" name="EchoService12Port">
            <soap:address
                    location="http://localhost:8080/jaxws-samples/services/EchoService12"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
