library/axis2-1.4.1/samples/jaxws-samples/src/webapp/WEB-INF/wsdl/ImageDepot12.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://org/apache/axis2/jaxws/samples/mtom/"
                  xmlns:intf="http://org/apache/axis2/jaxws/samples/mtom/"
                  xmlns:mtom="http://org/apache/axis2/jaxws/samples/mtom/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://org/apache/axis2/jaxws/samples/mtom/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://org/apache/axis2/jaxws/samples/mtom/"
                   xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified"
                   targetNamespace="http://org/apache/axis2/jaxws/samples/mtom/">
            <xs:complexType name="ImageDepot">
                <xs:sequence>
                    <xs:element name="imageData" type="xs:base64Binary" xmime:expectedContentTypes="multipart/*"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="sendImage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="input" type="tns:ImageDepot"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="sendImageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="output" type="tns:ImageDepot"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="sendImageRequest">
        <wsdl:part element="mtom:sendImage" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="sendImageResponse">
        <wsdl:part element="mtom:sendImageResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="MtomSampleService12">
        <wsdl:operation name="sendImage">
            <wsdl:input message="impl:sendImageRequest" name="sendImageRequest"/>
            <wsdl:output message="impl:sendImageResponse" name="sendImageResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="MtomSampleSoap" type="impl:MtomSampleService12">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="sendImage">
            <wsdlsoap:operation soapAction="sendImage"/>
            <wsdl:input name="sendImageRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendImageResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="MtomSampleService12">
        <wsdl:port binding="impl:MtomSampleSoap" name="MtomSamplePort">
            <wsdlsoap:address location="http://localhost:8080/jaxws-samples/services/MtomSampleService12"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
