library/axis2-1.4.1/samples/jaxws-dynamic/resources/wsdl/DynamicSample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://axis2.apache.com/jaxws/sample/dynamic" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    name="EchoService" 
    targetNamespace="http://axis2.apache.com/jaxws/sample/dynamic">
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
        xmlns:tns="http://axis2.apache.com/jaxws/sample/dynamic" 
        targetNamespace="http://axis2.apache.com/jaxws/sample/dynamic" version="1.0">
      
      <xs:element name="operation1" type="xsd:string"/>
      <xs:element name="operation1Response" type="xsd:string"/>
      
      <xs:element name="operation2" type="xsd:int"/>
      <xs:element name="operation2Response" type="xsd:int"/>

      <xs:element name="operation3" type="xsd:boolean"/>
      <xs:element name="operation3Response" type="xsd:boolean"/>

    </xs:schema>
  </types>
  
  <message name="operation1">
    <part element="tns:operation1" name="parameters"/>
  </message>
  
  <message name="operation1Response">
    <part element="tns:operation1Response" name="parameters"/>
  </message>
  
  <message name="operation2">
    <part element="tns:operation2" name="parameters"/>
  </message>
  
  <message name="operation2Response">
    <part element="tns:operation2Response" name="parameters"/>
  </message>
  
  <message name="operation3">
    <part element="tns:operation3" name="parameters"/>
  </message>
  
  <message name="operation3Response">
    <part element="tns:operation3Response" name="parameters"/>
  </message>
  
  <portType name="Generic">
    <operation name="operation1">
      <input message="tns:operation1"/>
      <output message="tns:operation1Response"/>
    </operation>
    <operation name="operation2">
      <input message="tns:operation2"/>
      <output message="tns:operation2Response"/>
    </operation>
    <operation name="operation3">
      <input message="tns:operation3"/>
      <output message="tns:operation3Response"/>
    </operation>
  </portType>
  
  <binding name="GenericBinding" type="tns:Generic">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="operation1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="operation2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="operation3">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  
  <service name="GenericService">
    <port binding="tns:GenericBinding" name="EchoPort">
      <soap:address location="http://localhost:8080/services/GenericService"/>
    </port>
  </service>
  
</definitions>