library/axis2-1.4.1/samples/jaxws-version/resources/META-INF/version.xsd

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jaxws.sample/" targetNamespace="http://jaxws.sample/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="Exception" type="tns:Exception"/>
	<xs:element name="getVersion" type="tns:getVersion"/>
	<xs:element name="getVersionResponse" type="tns:getVersionResponse"/>
	<xs:complexType name="getVersion">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="getVersionResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Exception">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
