library/axis2-1.4.1/samples/jaxws-calculator/resources/META-INF/CalculatorService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<xs:schema version="1.0" targetNamespace="http://calculator.jaxws.axis2.apache.org"
           xmlns:tns="http://calculator.jaxws.axis2.apache.org" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ns1="http://www.w3.org/2005/08/addressing">

    <xs:import namespace="http://www.w3.org/2005/08/addressing"
               schemaLocation="http://www.w3.org/2006/03/addressing/ws-addr.xsd"/>

    <xs:element name="AddNumbersException" type="tns:AddNumbersException"/>

    <xs:element name="add" type="tns:add"/>

    <xs:element name="addResponse" type="tns:addResponse"/>

    <xs:element name="getTicket" type="tns:getTicket"/>

    <xs:element name="getTicketResponse" type="tns:getTicketResponse"/>

    <xs:complexType name="getTicket">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="getTicketResponse">
        <xs:sequence>
            <xs:element name="return" type="ns1:EndpointReferenceType" form="qualified" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="add">
        <xs:sequence>
            <xs:element name="value1" type="xs:int" form="qualified"/>
            <xs:element name="value2" type="xs:int" form="qualified"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="addResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int" form="qualified"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AddNumbersException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

