library/axis2-1.4.1/samples/jaxws-interop/resources/META-INF/BaseDataTypesDocLitB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tempuri.org/"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" targetNamespace="http://tempuri.org/"
                  name="BaseDataTypesDocLitBService">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="xsd1.xsd" namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="xsd0.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="xsd2.xsd" namespace="http://schemas.datacontract.org/2004/07/System"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RetBool_RequestMessage_Body">
        <wsdl:part name="inBool" element="tns:inBool"/>
    </wsdl:message>
    <wsdl:message name="RetBool_ResponseMessage_Body">
        <wsdl:part name="RetBoolResult" element="tns:RetBoolResult"/>
    </wsdl:message>
    <wsdl:message name="RetByte_RequestMessage_Body">
        <wsdl:part name="inByte" element="tns:inByte"/>
    </wsdl:message>
    <wsdl:message name="RetByte_ResponseMessage_Body">
        <wsdl:part name="RetByteResult" element="tns:RetByteResult"/>
    </wsdl:message>
    <wsdl:message name="RetSByte_RequestMessage_Body">
        <wsdl:part name="inSByte" element="tns:inSByte"/>
    </wsdl:message>
    <wsdl:message name="RetSByte_ResponseMessage_Body">
        <wsdl:part name="RetSByteResult" element="tns:RetSByteResult"/>
    </wsdl:message>
    <wsdl:message name="RetByteArray_RequestMessage_Body">
        <wsdl:part name="inByteArray" element="tns:inByteArray"/>
    </wsdl:message>
    <wsdl:message name="RetByteArray_ResponseMessage_Body">
        <wsdl:part name="RetByteArrayResult" element="tns:RetByteArrayResult"/>
    </wsdl:message>
    <wsdl:message name="RetChar_RequestMessage_Body">
        <wsdl:part name="inChar" element="tns:inChar"/>
    </wsdl:message>
    <wsdl:message name="RetChar_ResponseMessage_Body">
        <wsdl:part name="RetCharResult" element="tns:RetCharResult"/>
    </wsdl:message>
    <wsdl:message name="RetDecimal_RequestMessage_Body">
        <wsdl:part name="inDecimal" element="tns:inDecimal"/>
    </wsdl:message>
    <wsdl:message name="RetDecimal_ResponseMessage_Body">
        <wsdl:part name="RetDecimalResult" element="tns:RetDecimalResult"/>
    </wsdl:message>
    <wsdl:message name="RetFloat_RequestMessage_Body">
        <wsdl:part name="inFloat" element="tns:inFloat"/>
    </wsdl:message>
    <wsdl:message name="RetFloat_ResponseMessage_Body">
        <wsdl:part name="RetFloatResult" element="tns:RetFloatResult"/>
    </wsdl:message>
    <wsdl:message name="RetDouble_RequestMessage_Body">
        <wsdl:part name="inDouble" element="tns:inDouble"/>
    </wsdl:message>
    <wsdl:message name="RetDouble_ResponseMessage_Body">
        <wsdl:part name="RetDoubleResult" element="tns:RetDoubleResult"/>
    </wsdl:message>
    <wsdl:message name="RetSingle_RequestMessage_Body">
        <wsdl:part name="inSingle" element="tns:inSingle"/>
    </wsdl:message>
    <wsdl:message name="RetSingle_ResponseMessage_Body">
        <wsdl:part name="RetSingleResult" element="tns:RetSingleResult"/>
    </wsdl:message>
    <wsdl:message name="RetInt_RequestMessage_Body">
        <wsdl:part name="inInt" element="tns:inInt"/>
    </wsdl:message>
    <wsdl:message name="RetInt_ResponseMessage_Body">
        <wsdl:part name="RetIntResult" element="tns:RetIntResult"/>
    </wsdl:message>
    <wsdl:message name="RetShort_RequestMessage_Body">
        <wsdl:part name="inShort" element="tns:inShort"/>
    </wsdl:message>
    <wsdl:message name="RetShort_ResponseMessage_Body">
        <wsdl:part name="RetShortResult" element="tns:RetShortResult"/>
    </wsdl:message>
    <wsdl:message name="RetLong_RequestMessage_Body">
        <wsdl:part name="inLong" element="tns:inLong"/>
    </wsdl:message>
    <wsdl:message name="RetLong_ResponseMessage_Body">
        <wsdl:part name="RetLongResult" element="tns:RetLongResult"/>
    </wsdl:message>
    <wsdl:message name="RetObject_RequestMessage_Body">
        <wsdl:part name="inObject" element="tns:inObject"/>
    </wsdl:message>
    <wsdl:message name="RetObject_ResponseMessage_Body">
        <wsdl:part name="RetObjectResult" element="tns:RetObjectResult"/>
    </wsdl:message>
    <wsdl:message name="RetUInt_RequestMessage_Body">
        <wsdl:part name="inUInt" element="tns:inUInt"/>
    </wsdl:message>
    <wsdl:message name="RetUInt_ResponseMessage_Body">
        <wsdl:part name="RetUIntResult" element="tns:RetUIntResult"/>
    </wsdl:message>
    <wsdl:message name="RetUShort_RequestMessage_Body">
        <wsdl:part name="inUShort" element="tns:inUShort"/>
    </wsdl:message>
    <wsdl:message name="RetUShort_ResponseMessage_Body">
        <wsdl:part name="RetUShortResult" element="tns:RetUShortResult"/>
    </wsdl:message>
    <wsdl:message name="RetULong_RequestMessage_Body">
        <wsdl:part name="inULong" element="tns:inULong"/>
    </wsdl:message>
    <wsdl:message name="RetULong_ResponseMessage_Body">
        <wsdl:part name="RetULongResult" element="tns:RetULongResult"/>
    </wsdl:message>
    <wsdl:message name="RetString_RequestMessage_Body">
        <wsdl:part name="inString" element="tns:inString"/>
    </wsdl:message>
    <wsdl:message name="RetString_ResponseMessage_Body">
        <wsdl:part name="RetStringResult" element="tns:RetStringResult"/>
    </wsdl:message>
    <wsdl:message name="RetGuid_RequestMessage_Body">
        <wsdl:part name="inGuid" element="tns:inGuid"/>
    </wsdl:message>
    <wsdl:message name="RetGuid_ResponseMessage_Body">
        <wsdl:part name="RetGuidResult" element="tns:RetGuidResult"/>
    </wsdl:message>
    <wsdl:message name="RetUri_RequestMessage_Body">
        <wsdl:part name="inUri" element="tns:inUri"/>
    </wsdl:message>
    <wsdl:message name="RetUri_ResponseMessage_Body">
        <wsdl:part name="RetUriResult" element="tns:RetUriResult"/>
    </wsdl:message>
    <wsdl:message name="RetDateTime_RequestMessage_Body">
        <wsdl:part name="inDateTime" element="tns:inDateTime"/>
    </wsdl:message>
    <wsdl:message name="RetDateTime_ResponseMessage_Body">
        <wsdl:part name="RetDateTimeResult" element="tns:RetDateTimeResult"/>
    </wsdl:message>
    <wsdl:message name="RetDateTimeOffset_RequestMessage_Body">
        <wsdl:part name="inDateTimeOffset" element="tns:inDateTimeOffset"/>
    </wsdl:message>
    <wsdl:message name="RetDateTimeOffset_ResponseMessage_Body">
        <wsdl:part name="RetDateTimeOffsetResult" element="tns:RetDateTimeOffsetResult"/>
    </wsdl:message>
    <wsdl:message name="RetTimeSpan_RequestMessage_Body">
        <wsdl:part name="inTimeSpan" element="tns:inTimeSpan"/>
    </wsdl:message>
    <wsdl:message name="RetTimeSpan_ResponseMessage_Body">
        <wsdl:part name="RetTimeSpanResult" element="tns:RetTimeSpanResult"/>
    </wsdl:message>
    <wsdl:message name="RetQName_RequestMessage_Body">
        <wsdl:part name="inQName" element="tns:inQName"/>
    </wsdl:message>
    <wsdl:message name="RetQName_ResponseMessage_Body">
        <wsdl:part name="RetQNameResult" element="tns:RetQNameResult"/>
    </wsdl:message>
    <wsdl:portType name="IBaseDataTypesDocLitB">
        <wsdl:operation name="RetBool">
            <wsdl:input name="RetBool_RequestMessage_Body" message="tns:RetBool_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetBool"/>
            <wsdl:output name="RetBool_ResponseMessage_Body" message="tns:RetBool_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetBoolResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetByte">
            <wsdl:input name="RetByte_RequestMessage_Body" message="tns:RetByte_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetByte"/>
            <wsdl:output name="RetByte_ResponseMessage_Body" message="tns:RetByte_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetByteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetSByte">
            <wsdl:input name="RetSByte_RequestMessage_Body" message="tns:RetSByte_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetSByte"/>
            <wsdl:output name="RetSByte_ResponseMessage_Body" message="tns:RetSByte_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetSByteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetByteArray">
            <wsdl:input name="RetByteArray_RequestMessage_Body" message="tns:RetByteArray_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetByteArray"/>
            <wsdl:output name="RetByteArray_ResponseMessage_Body" message="tns:RetByteArray_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetByteArrayResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetChar">
            <wsdl:input name="RetChar_RequestMessage_Body" message="tns:RetChar_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetChar"/>
            <wsdl:output name="RetChar_ResponseMessage_Body" message="tns:RetChar_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetCharResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetDecimal">
            <wsdl:input name="RetDecimal_RequestMessage_Body" message="tns:RetDecimal_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetDecimal"/>
            <wsdl:output name="RetDecimal_ResponseMessage_Body" message="tns:RetDecimal_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetDecimalResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetFloat">
            <wsdl:input name="RetFloat_RequestMessage_Body" message="tns:RetFloat_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetFloat"/>
            <wsdl:output name="RetFloat_ResponseMessage_Body" message="tns:RetFloat_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetFloatResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetDouble">
            <wsdl:input name="RetDouble_RequestMessage_Body" message="tns:RetDouble_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetDouble"/>
            <wsdl:output name="RetDouble_ResponseMessage_Body" message="tns:RetDouble_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetDoubleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetSingle">
            <wsdl:input name="RetSingle_RequestMessage_Body" message="tns:RetSingle_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetSingle"/>
            <wsdl:output name="RetSingle_ResponseMessage_Body" message="tns:RetSingle_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetSingleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetInt">
            <wsdl:input name="RetInt_RequestMessage_Body" message="tns:RetInt_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetInt"/>
            <wsdl:output name="RetInt_ResponseMessage_Body" message="tns:RetInt_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetIntResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetShort">
            <wsdl:input name="RetShort_RequestMessage_Body" message="tns:RetShort_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetShort"/>
            <wsdl:output name="RetShort_ResponseMessage_Body" message="tns:RetShort_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetShortResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetLong">
            <wsdl:input name="RetLong_RequestMessage_Body" message="tns:RetLong_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetLong"/>
            <wsdl:output name="RetLong_ResponseMessage_Body" message="tns:RetLong_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetLongResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetObject">
            <wsdl:input name="RetObject_RequestMessage_Body" message="tns:RetObject_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetObject"/>
            <wsdl:output name="RetObject_ResponseMessage_Body" message="tns:RetObject_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetObjectResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetUInt">
            <wsdl:input name="RetUInt_RequestMessage_Body" message="tns:RetUInt_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetUInt"/>
            <wsdl:output name="RetUInt_ResponseMessage_Body" message="tns:RetUInt_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetUIntResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetUShort">
            <wsdl:input name="RetUShort_RequestMessage_Body" message="tns:RetUShort_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetUShort"/>
            <wsdl:output name="RetUShort_ResponseMessage_Body" message="tns:RetUShort_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetUShortResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetULong">
            <wsdl:input name="RetULong_RequestMessage_Body" message="tns:RetULong_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetULong"/>
            <wsdl:output name="RetULong_ResponseMessage_Body" message="tns:RetULong_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetULongResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetString">
            <wsdl:input name="RetString_RequestMessage_Body" message="tns:RetString_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetString"/>
            <wsdl:output name="RetString_ResponseMessage_Body" message="tns:RetString_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetStringResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetGuid">
            <wsdl:input name="RetGuid_RequestMessage_Body" message="tns:RetGuid_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetGuid"/>
            <wsdl:output name="RetGuid_ResponseMessage_Body" message="tns:RetGuid_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetGuidResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetUri">
            <wsdl:input name="RetUri_RequestMessage_Body" message="tns:RetUri_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetUri"/>
            <wsdl:output name="RetUri_ResponseMessage_Body" message="tns:RetUri_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetUriResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetDateTime">
            <wsdl:input name="RetDateTime_RequestMessage_Body" message="tns:RetDateTime_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetDateTime"/>
            <wsdl:output name="RetDateTime_ResponseMessage_Body" message="tns:RetDateTime_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetDateTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetDateTimeOffset">
            <wsdl:input name="RetDateTimeOffset_RequestMessage_Body" message="tns:RetDateTimeOffset_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetDateTimeOffset"/>
            <wsdl:output name="RetDateTimeOffset_ResponseMessage_Body"
                         message="tns:RetDateTimeOffset_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetDateTimeOffsetResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetTimeSpan">
            <wsdl:input name="RetTimeSpan_RequestMessage_Body" message="tns:RetTimeSpan_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetTimeSpan"/>
            <wsdl:output name="RetTimeSpan_ResponseMessage_Body" message="tns:RetTimeSpan_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetTimeSpanResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RetQName">
            <wsdl:input name="RetQName_RequestMessage_Body" message="tns:RetQName_RequestMessage_Body"
                        wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetQName"/>
            <wsdl:output name="RetQName_ResponseMessage_Body" message="tns:RetQName_ResponseMessage_Body"
                         wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitB/RetQNameResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IBaseDataTypesDocLitB" type="tns:IBaseDataTypesDocLitB">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RetBool">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetBool" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetByte">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetByte" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetSByte">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetSByte" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetByteArray">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetByteArray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetChar">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetChar" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetDecimal">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetDecimal" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetFloat">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetFloat" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetDouble">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetDouble" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetSingle">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetSingle" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetInt">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetInt" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetShort">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetShort" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetLong">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetLong" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetObject">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetObject" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetUInt">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetUInt" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetUShort">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetUShort" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetULong">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetULong" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetString">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetString" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetGuid">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetGuid" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetUri">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetUri" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetDateTime">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetDateTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetDateTimeOffset">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetDateTimeOffset" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetTimeSpan">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetTimeSpan" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetQName">
            <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitB/RetQName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BaseDataTypesDocLitBService">
        <wsdl:port name="BasicHttpBinding_IBaseDataTypesDocLitB" binding="tns:BasicHttpBinding_IBaseDataTypesDocLitB">
            <soap:address
                    location="http://localhost:8080/axis2/services/TopDownSampleServiceService.IBaseDataTypesDocLitBPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
